.package-container {
  padding: 40px 24px;
  gap: 16px;
}

.hero h1 {
  max-width: 320px;
  color: var(--text-secondary-color);
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
}
.hero-divider {
  display: block;
  width: 180px;
  height: 4px;
  background: var(--secondary-color);
  margin: 16px 0 24px;
}

.hero p {
  max-width: 420px;
  color: var(--text-secondary-color);
}

.payments span {
  display: block;
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
}

.payments.packages .image.castelo {
  background-image: url(../img/castelo-mobile.png);
}

.payments.packages .image.cidade {
  background-image: url(../img/cidade-mobile.png);
}

.payments.packages .image.gueixa {
  background-image: url(../img/gueixa-mobile.png);
}
